# LambdaRogue Configuration File
# created by LambdaRogue 1.6.2
 
 
# Visual Options
 
UseSDL
= True
 
SmallTiles
= True
 
OldSmallTiles
= False
 
1024x768
= False
 
ForceFullScreen
= False
 
ShowBlood
= True
 
 
# Gameplay Options
 
MoveAfterKill
= False
 
 
# Music Options
 
PlayMusic
= True
 
PlaySoundFX
= True
 
VolumeMusic:
64
 
VolumeSoundFX:
128
 
# Keybindings
 
MoveNorth:
k
 
MoveSouth:
j
 
MoveEast:
l
 
MoveWest:
h
 
MoveNorthEast:
u
 
MoveNorthWest:
y
 
MoveSouthEast:
n
 
MoveSouthWest:
b
 
GeneralAction:
a
 
TalkAndTrade:
t
 
CloseDoor:
D
 
Dig:
d
 
Take:
g
 
SearchAndSteal:
S
 
Pray:
p
 
ShootWeapon:
f
 
Throw:
T
 
Tactics:
-
 
Songbook:
m
 
ChantLastSong:
c
 
RestOneTurn:
.
 
Rest:
r
 
ShowStatus:
s
 
ShowQuestlog:
L
 
ShowInventory:
i
 
SetQuickKeys:
C
 
ShowHelp:
?
 
Map:
M
 
IdentifyTile:
I
 
GameMenu:
Q
 
SpecialAbility:
x
 
 
DivineRage:
X
 
